html 
    head 
        title= title
        link(rel = "stylesheet" href ="/css/style.css")  
    body 
        h1= header1
        article 
            h2= header2
            img(src='/img/cat.jpg', alt="cat image").big.small.trans
            p= paraGraph 
        script(src="/js/main.js")
